
@import "variables/fonts";
@import "variables/colors";

*, *::before, *::after {
  box-sizing: border-box;
  font-family: $primary;
  margin: 0;
  padding: 0;
}

body {
  background-color: $cream;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

@import "partials/layout";

@import "partials/header";
@import "partials/footer";

@import "partials/changelog";